.barre {
    text-decoration: line-through;
}
.title-default {
    color: pink;
    text-align: center;
}
.toolbar-container {
    background-color: pink;
}
.toolbar-title {
    font-family: sans-serif;
}