<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button color="tertiary"></ion-menu-button>
    </ion-buttons>
    <ion-title>Event</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <p>{{ nombre }}</p>
  <ion-button
    (click)="ajouter()"
    color="tertiary"
    size="small"
    fill="outline"
    [disabled]="nombre >8 "
    >+</ion-button
  >

  <ion-button
    (click)="diminuer()"
    color="tertiary"
    size="small"
    fill="outline"
    [disabled]="nombre < 1 "
    >-</ion-button
  >
  <!-- mouseenter = hover-->
  <p (mouseenter)="highLight()" [ngClass]="{'yellow' : isHighlighted == true }">
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Recusandae aliquam
    aut ipsam pariatur inventore voluptatem, sit officia velit maxime libero
    perferendis eum optio quidem excepturi maiores rerum, vitae ab sapiente!
  </p>
</ion-content>
